{% extends "base_generic.html" %}

{% block content %}
    <div class="text-center">
    <h2>ログイン</h2>
    {% if form.errors %}
        {% for error in form.non_field_errors %}
            <p class="text-warning">{{ error }}</p>
        {% endfor %}
    {% elif next %}
        <p>ログインしてください</p>
    {% endif %}

    {% load widget_tweaks %}
    <form action="{% url 'login' %}" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-md-4 control-label" for="{{ form.username.id_for_label }}">ユーザ名</label>
            <div class="col-md-4">
                {% render_field form.username class+="form-control" %}
            </div>
            {% for error in form.username.errors %}
                <p class="text-warning">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="{{ form.password.id_for_label }}">パスワード</label>
            <div class="col-md-4">
                {% render_field form.password class+="form-control" %}
            </div>
            {% for error in form.password.errors %}
                <p class="text-warning">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">ログイン</button>
            <input type="hidden" name="next" value="{{ next }}"/>
        </div>
    </form>
</div>
{% endblock %}