{% extends "base_generic.html" %}

{% block content %}
    <div class="text-center">
    <h2>ログイン</h2>
    {% if form.errors %}
        {% for error in form.non_field_errors %}
            <p class="text-warning">{{ error }}</p>
        {% endfor %}
    {% elif next %}
        <p>ログインしてください</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label" for="{{ form.username.id_for_label }}">ユーザ名　</label>
            {{ form.username }}
            {% for error in form.username.errors %}
                <p class="text-warning">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="form-group">
            <label class="control-label" for="{{ form.password.id_for_label }}">パスワード</label>
            {{ form.password }}
            {% for error in form.password.errors %}
                <p class="text-warning">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">ログイン</button>
{#            <input type="submit" value="ログイン"/>#}
            <input type="hidden" name="next" value="{{ next }}"/>
        </div>
    </form>
</div>
{% endblock %}