<!DOCTYPE html>
<html lang="ja">
<head>
    {% block title %}<title>Green Grocer</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
<div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top">
            <h1 class="navbar-text">果物販売管理</h1>
    </nav>

    <div class="panel panel-default">
        <div class="panel-heading">
        {% block header %}
            <h2>管理TOP</h2>
        {% endblock %}
        </div>
    </div>

    <ol class="breadcrumb">
        {% block breadcrumbs %}
            <li><a href="{% url 'top' %}">TOP</a></li>
        {% endblock %}
    </ol>

    <div class="panel panel-default">
        <div class="container-fluid">
        {% block content %}
        {% endblock %}
        </div>
    </div>

    {% block pagination %}
        {% if is_paginated %}
            <div class="pagination">
            <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">前のページ</a>
              {% endif %}
                <span class="page-current">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }} ページ
              </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">次のページ</a>
                {% endif %}
            </span>
            </div>
        {% endif %}
    {% endblock pagination %}

</div>

</body>


</html>
