{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    {% block title %}<title>Green Grocer</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Add additional CSS in static file -->
    <link rel="stylesheet" href="{% static 'sales/css/styles.css' %}">
</head>

<body>

<nav class="navbar-inverse navbar-fixed-top">

    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{% url 'top' %}" class="navbar-brand">果物販売管理</a>
        </div>
        {% if user.is_authenticated %}
            <button class="btn btn-danger navbar-btn navbar-right">ログアウト</button>
        {% endif %}
    </div>
</nav>


<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>
                {% block header %}管理TOP{% endblock %}
            </h2>
        </div>
    </div>

    <ul class="breadcrumb">
        {% block breadcrumbs %}
            <li>
                <a href="{% url 'top' %}">TOP</a>
            </li>
        {% endblock %}
    </ul>

    <div class="panel panel-default">
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    {% block pagination %}
        {% if is_paginated %}
            <div class="pagination">
            <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">前のページ</a>
              {% endif %}
                <span class="page-current">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }} ページ
              </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">次のページ</a>
                {% endif %}
            </span>
            </div>
        {% endif %}
    {% endblock pagination %}

    {% block footer %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>エラー: </strong>{{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endblock %}
</div>

{% block scripts %}
{% endblock %}

</body>


</html>
