{% extends "base_generic.html" %}

{% block header %}
    <h2>販売統計情報</h2>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>販売情報管理</li>
{% endblock %}

{% block content %}
    <h3>累計</h3>
    <h3>{{ sum_total }}円</h3>


    <h3>月別</h3>
    {% if recent_months %}
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>月</th>
                <th>売り上げ</th>
                <th>内訳</th>
            </tr>
            </thead>
            <tbody>
            {% for month in recent_months %}
                <tr>
                    <td>{{ month.date|date:"Y/m" }}</td>
                    <td>{{ month.total }}円</td>
                    <td>{{ month }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}


    <h3>日別</h3>
    {% if recent_days %}
        <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>日</th>
                <th>売り上げ</th>
                <th>内訳</th>
            </tr>
            </thead>
            <tbody>
            {% for day in recent_days %}
                <tr>
                    <td>{{ day.date|date:"Y/m/d" }}</td>
                    <td>{{ day.total }}円</td>
                    <td>{{ day }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}


{% endblock %}
