{% extends "base_generic.html" %}

{% block header %}
    <h2>管理TOP</h2>
{% endblock %}

{% block content %}
    <h2 class="text-center"><a href="{% url 'fruits' %}">果物マスター管理</a></h2>

    <h2 class="text-center"><a href="{% url 'transactions' %}">販売情報管理</a></h2>

    <h2 class="text-center"><a href="{% url 'transaction_stats' %}">販売統計情報</a></h2>

{% endblock %}


{% block footer %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>エラー: </strong>{{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
