{% extends "sales/fruit_list.html" %}

{% block header %}
    <h2>果物登録</h2>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>販売情報登録</li>
{% endblock %}

{% block content %}
    <div class="text-center">

        <h2>果物登録</h2>

        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label" for="{{ form.label.id_for_label }}">名称</label>
                {{ form.label }}
                {% for error in form.label.errors %}
                    <p class="text-warning">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="form-group">
                <label class="control-label" for="{{ form.price.id_for_price }}">単価</label>
                {{ form.price }}
                {% for error in form.price.errors %}
                    <p class="text-warning">{{ error }}</p>
                {% endfor %}
            </div>

            <button type="submit" class="btn btn-primary">登録</button>
        </form>

    </div>
{% endblock %}