{% extends "base_generic.html" %}

{% block content %}
    {% if fruit_list %}
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>単価</th>
                <th>登録日時</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for fruit in fruit_list %}
                <tr>
                    <td>{{ fruit.id }}</td>
                    <td>{{ fruit.label }}</td>
                    <td>{{ fruit.price }}</td>
                    <td>{{ fruit.created_at|date:"Y-m-d" }}</td>
                    <td><a href="{% url 'fruit_update' fruit.pk %}">編集</a></td>
                    <td><a href="{% url 'fruit_delete' fruit.pk %}">削除</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <h1>まだ果物情報は登録されていません</h1>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <button type="submit" formaction="{% url 'fruit_create' %}">新規追加</button>
    </form>


{% endblock content %}
