{% extends "sales/transaction_list.html" %}

{% block header %}販売情報登録{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>販売情報登録</li>
{% endblock %}

{% block content %}
    <div class="text-center">

        <h2>販売情報登録</h2>

        {% load widget_tweaks %}
        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}

            <div class="form-group">
                <label class="col-md-4 control-label" for="{{ form.fruit.id_for_fruit }}">果物</label>
                <div class="col-md-4">
                    {% render_field form.fruit class+="form-control" %}
                </div>
                {% for error in form.fruit.errors %}
                    <p class="text-warning">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="{{ form.num_items.id_for_num_items }}">個数</label>
                <div class="col-md-4">
                    {% render_field form.num_items class+="form-control" %}
                </div>
                {% for error in form.num_items.errors %}
                    <p class="text-warning">{{ error }}</p>
                {% endfor %}
            </div>


            {% if form.amount in form.hidden_fields %}
                <div class="form-group hidden">
            {% else %}
                <div class="form-group">
            {% endif %}
            <label class="col-md-4 control-label" for="{{ form.fruit.id_for_amount }}">売り上げ</label>
            <div class="col-md-4">
                {% render_field form.amount class+="form-control" %}
            </div>
            {% for error in form.amount.errors %}
                <p class="text-warning">{{ error }}</p>
            {% endfor %}
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="{{ form.fruit.id_for_created_at }}">販売日時</label>
                <div class="col-md-4">
                    {% render_field form.created_at class+="form-control" %}
                </div>
                {% for error in form.created_at.errors %}
                    <p class="text-warning">{{ error }}</p>
                {% endfor %}
            </div>

            <button type="submit" class="btn btn-primary">登録</button>
        </form>

    </div>
{% endblock %}