{% extends "base_generic.html" %}

{% block header %}
    <h2>販売情報管理</h2>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>販売情報管理</li>
{% endblock %}

{% block content %}
    {% if transaction_list %}
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>果物</th>
                <th>個数</th>
                <th>売り上げ</th>
                <th>販売日時</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transaction_list %}
                <tr>
                    <td>{{ transaction.fruit.label }}</td>
                    <td>{{ transaction.num_items }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.created_at }}</td>
                    <td><a href="{% url 'transaction_update' transaction.pk %}">編集</a></td>
                    <td><a href="{% url 'transaction_delete' transaction.pk %}">削除</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>まだ販売情報は登録されていません</h1>
    {% endif %}

    <form action="" method-"post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit" formaction="{% url 'transaction_create' %}">販売情報登録</button>
    </form>


    <form action="{% url "upload_csv" %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label for="name">CSV一括登録</label>
            <div class="input-group">
                <input class="form-control" type="file" name="csv_file" id="csv_file" accept="text/csv" required="True">
                <span class="input-group-btn">
                    <button class="btn btn-default" >CSVアップロード</button>
                </span>
            </div>
        </div>

        {% if messages %}
            <p>エラー</p>
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </form>


{% endblock content %}
